mixin about__inMain 
  .about__area.block 
    .about.w
      .xTitle
        h2 О компании
      .content.clearFix 
        img(src="assets/img/about.png", alt="")
        ul
          li Компания Сhengdu Tianyi Energy Equipment Manufacturing Co.,Ltd Chengdu Tianyi Energy Equipment Manufacturing Co., Ltd. - профессиональный крупный производитель поршневых газовых компрессоров, с 1995 года объединяющий разработку и производство в новой энергетической отрасли Китая.
          li C 2017 года компания вышла на Российский рынок и успешно реализовала несколько проектов.
          li Компрессоры компании показали свою надежность, простоту в эксплуатации и удобство в ремонте. 
          li С 2024 года в РФ организовано представительство компании, собрана команда профессионалов которая будет сопровождать все проекты на территории РФ. В дальнейшем будет организован сервисный центр и склад хранения аварийного запаса запасных частей. Наша компания сертифицирована по стандарту ISO. Наши поршневые газовые компрессоры производятся в соответствии с международным стандартом (см. API618) с использованием всемирно известных компонентов и запасных частей.
          

