mixin footer 
  .footer__area.block
    footer.footer.w
      //- .f1 
      //-   .logo1
      //-     a(href='/')
      //-       img(src="assets/img/logo.svg", alt="")
      .footer__title 
          span Предприятие по производству компрессоров природного газа:
          span «Chengdu Tianyi Energy Equipment Manufacturing Co.,Ltd»
          span Официальное представительство в России
      .footer__info
        .footer__infoItem 
          i.fa.fa-phone(aria-hidden='true')
          a(href='tel:+79879444395') +7(987) 944-43-95
        .footer__infoItem 
          i.fa.fa-envelope-o(aria-hidden='true')
          a(href='mailto:sales@tianyicngrus.com') sales@tianyicngrus.com