- var pageTitle = '«Chengdu Tianyi Natural Gas Compressor Manufacturing Co., Ltd»'
- var seoKeywords = ''
- var seoDesc = ''

include __const
include __header






<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site
    .site__header
      .header__area
        +header


    .site__center
      .firstScreen(style="background-image: url(/assets/img/bg1.jpg)") 
        //- video.videoDt(preload='auto' autoplay='true' loop='loop' muted='muted' volume='0')
        //-   source(src='/assets/video/btli1.mp4' type='video/mp4')
        //-   source(src='/assets/video/btli1.webm' type='video/webm')
        //- video.videoMb(preload='auto' autoplay='true' loop='loop' muted='muted' volume='0')
        //-   source(src='/assets/video/btli1v.mp4' type='video/mp4')
        //-   source(src='/assets/video/btli1v.webm' type='video/webm')
        .firstScreen__info
          .firstScreen__infoInner
            h1 Компрессоры
            span Твой газ от «А» до «Я»

        
    .site__footer


  +scripts

