- var pageTitle = '«Chengdu Tianyi Natural Gas Compressor Manufacturing Co., Ltd»'
- var seoKeywords = ''
- var seoDesc = ''

include __const
include __header
include __about
include __gallery
include __footer






<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site
    .site__header
      .header__area
        +header
        +topMenu

    .site__center
      
    .site__footer
      +footer




  +scripts

